h1.title {
    font-size: 150%;
}

h2.author{
    font-size: 100%;
}

h3.date{
    font-size: 100%;
}
/*
section.slide {
    text-align: left;
}
*/

section.slide h1, section.slide h2 {
    text-align: center;
}


section.slide blockquote, pre {
    text-align: left;
    overflow: auto;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.4);
}


div.sourceCode {
    background-color: rgba(255, 255, 255, 0.4);
    border: 10px sold black;
}
